# Hugo
public
resources
tmp
.hugo_build.lock
.generated

# Structurizr
.structurizr/diagrammen/
static/diagrammen/

# Editors
.vscode/*
!.vscode/extensions.json
.idea

# MacOS
.DS_Store
*.local

# Windows
Thumbs.db
