@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
    --text-lg: 1.125em;
    --text-xl: 1.25em;
    --text-2xl: 1.5em;
    --text-3xl: 1.75em;
    --text-4xl: 2em;
    --text-5xl: 2.5em;
}

@font-face {
    font-family: "RO-Sans";
    src: url("./fonts/RijksSansVF.woff2") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "RO-Serif";
    src: url("./fonts/RijksoverheidSerifWeb.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    color: var(--color-slate-800);
    font-family: "RO-Sans", "Fira Sans", Arial, sans-serif;
}

p {
    margin-bottom: .5em;
}

p.text-xl, /* even alleen voor paragraaf tekst een ruimere line-height, text-xl wordt waarschijnlijk ook voor koptekst gebruikt waar de default line-height wel volstaat */
.prose {
    line-height: 1.6;
}

.rhc-theme {
    --rhc-card-inline-size: 100%;
}

a[href^="http"]:not(:has(img)):after {
    content: "\2197";
    font-weight: bold;
    font-size: 1rem;
    margin-left: 0.25rem;
    text-decoration: none;
    display: inline-block;
}

.serif {
    font-family: "RO-Serif", "Times New Roman", serif;
}

@layer base {
    /* Reverts a preflight rule on hidden that breaks some reveal.js */
    [hidden] {
        display: revert !important;
    }
}