@layer legacy {
  blockquote {
    background: var(--color-bg-light);
    border-radius: var(--radius-upper-left);
    padding: 1rem 1.5rem;
    margin: 1rem 0;

    p:last-child {
      margin-bottom: 0;
    }
  }

  blockquote.quote {
    font-style: italic;
  }

  blockquote.callout {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    padding: 1rem;
    padding-bottom: 0;
    border-radius: var(--radius-upper-right);
    background-color: var(--color-bg-info);

    header {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      img {
        width: 24px;
        height: 24px;
      }

      .title {
        font-size: 1.7rem;
        font-weight: 600;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      padding-top: 0.5rem;
      padding-bottom: 1rem;

      h2 {
        margin-top: 0;
      }

      p {
        margin-bottom: 0.5rem;

        &:last-child {
          margin-bottom: 0;
        }
      }

      ul,
      ol {
        padding-left: 1.4rem;
      }
    }

    &:not(:has(header)) .content {
      padding-top: 0;
    }
  }
}
