.box {
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  background-color: var(--color-bg-page);

  header {
    margin-bottom: 1rem;

    h2 {
      font-size: 1.8rem;
      margin: 0;

      a {
        color: var(--color-text-heading);
      }
    }
  }

  .content {
    overflow: auto;

    h2 {
      font-size: 1.5rem;

      &:first-child {
        margin-top: 0.5rem;
      }
    }

    p,
    ul,
    ol {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .button,
  .button-outline {
    display: block;
    width: fit-content;
    margin: 1rem auto 0;
  }
}
