.callout {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  padding: 1rem;
  padding-bottom: 0;
  background-color: var(--color-bg-info);
  border-radius: var(--radius-upper-right);

  img {
    width: 24px;
    height: 24px;
  }

  .content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-left: 0;

    h2 {
      margin-top: 0;
    }

    p {
      margin-bottom: 0.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    ul,
    ol {
      padding-left: 1.4rem;
    }
  }

  &:not(:has(img)) .content {
    padding-top: 0;
  }
}
