footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--content-max-width);
  margin: 0 auto;
  padding: 2rem 1rem 1.5rem;
  background-color: var(--color-rijks-blauw);
  box-shadow: 0 0 0 100vmax var(--color-rijks-blauw);
  clip-path: inset(0 -100vmax);
  color: var(--color-text-inverse);

  .tagline {
    font-family: var(--font-serif);
    font-size: 1.5rem;
    font-style: italic;
    color: var(--color-text-inverse);
  }

  nav {
    text-align: left;
  }

  h2 {
    margin: 0 0 0.5rem;
    font-size: 1.5rem;
    font-weight: 400;
  }

  ul {
    font-size: 1.125rem;
  }

  li {
    margin-bottom: 0.5rem;
  }

  a {
    color: var(--color-text-inverse);

    &::before {
      content: url("/images/icons/chevron-r-inverse.svg");
      display: inline-block;
      height: 0.75em;
      width: 0.75em;
      margin: 0 0.25em;
      vertical-align: baseline;
      position: relative;
      top: 0.1em;
    }
  }

  @media (min-width: 500px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .tagline {
      margin-bottom: 0;
    }
  }
}
