<!doctype html>
<html lang="nl">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    <a href="#main-content" class="skip-link">Ga naar de inhoud</a>
    <div class="print-logo">
      <img src="{{ relURL "images/logo-rijksoverheid.svg" }}" alt="Logo Rijksoverheid" />
    </div>
    {{ partial "header.html" . }}
    <main id="main-content">
      {{- block "main" . }}{{ end -}}
    </main>
    {{ partial "footer.html" . }}
    {{ partial "search.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>
