<!doctype html>
<html lang="nl">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body{{ with .Params.sidebar }} class="has-sidebar"{{ end }}>
    <a href="#main-content" class="skip-link">Ga naar de inhoud</a>
    {{ partial "header.html" . }}
    <main id="main-content">
      {{- if .Params.sidebar -}}
        {{- partial "sidebar-nav.html" . -}}
      {{- end -}}
      {{- block "main" . }}{{ end -}}
    </main>
    {{ partial "footer.html" . }}
    {{ partial "search.html" . }}
    {{ block "scripts" . }}{{ end }}
  </body>
</html>
