{{- if eq .Type "alert" -}}
<blockquote class="mox-atom-box mox-backgroundColor-secondary-subtle-2 mox-padding-3xs">
  {{- if or (eq .AlertType "info") .AlertTitle }}
  <header class="mox-stack">
    {{- if eq .AlertType "info" }}
    <img src="{{ relURL "images/icons/info.svg" }}" alt="Info icon">
    {{- end }}
    {{- with .AlertTitle }}<span class="title">{{ . }}</span>{{ end }}
  </header>
  {{- end }}
  <div class="content">
    {{ .Text }}
  </div>
</blockquote>
{{- else -}}
<blockquote class="quote">
  {{ .Text }}
</blockquote>
{{- end -}}
