name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      GO_VERSION: 1.25.5
      HUGO_VERSION: 0.154.2
      HTMLTEST_VERSION: 0.17.0
      TZ: Europe/Amsterdam
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: false

      - name: Install Hugo
        if: github.event.action != 'closed'
        run: |
          curl -sLJO "https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_${HUGO_VERSION}_linux-amd64.tar.gz"
          mkdir -p "${HOME}/.local/hugo"
          tar -C "${HOME}/.local/hugo" -xf "hugo_${HUGO_VERSION}_linux-amd64.tar.gz"
          rm "hugo_${HUGO_VERSION}_linux-amd64.tar.gz"
          echo "${HOME}/.local/hugo" >> "${GITHUB_PATH}"

      - name: Install htmltest
        run: |
          curl -sLJO "https://github.com/wjdp/htmltest/releases/download/v${HTMLTEST_VERSION}/htmltest_${HTMLTEST_VERSION}_linux_amd64.tar.gz"
          mkdir -p "${HOME}/.local/htmltest"
          tar -C "${HOME}/.local/htmltest" -xf "htmltest_${HTMLTEST_VERSION}_linux_amd64.tar.gz"
          rm "htmltest_${HTMLTEST_VERSION}_linux_amd64.tar.gz"
          echo "${HOME}/.local/htmltest" >> "${GITHUB_PATH}"

      - name: Verify installations
        run: |
          echo "Go: $(go version)"
          echo "Hugo: $(hugo version)"
          echo "htmltest: $(htmltest --version)"

      - name: Build site
        run: hugo --gc --minify --logLevel warning

      - name: Test links
        run: htmltest
